/* BAsic elements */

html {
	background: transparent url(ezra-jeffrey-comeau-WWntjs2-3hQ-unsplash.jpg) no-repeat 25% bottom;
}

body {
	margin: auto;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	justify-content: space-around;
	text-align: justify;
	color: #10474A;
}

h1 {
	font-size: 3em;
	display: block;
	margin-top: 5%;
	padding-bottom: 0;
	margin-bottom: 0;
	color: #13282A;
	text-align: center;
}

h2 {
	font-size: 1.8em;
	padding-top: 0;
	margin-top: 5px;
	padding-bottom: 10px;
	color: #13282A;
	font-style: italic;
	text-align: center;
}

h3 {
	font-size: 1.5em;
	color: #002D3D;
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

footer {
	font-size: 0.7em;
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #CD5334;
	}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #EDB88B;
	}

a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #622718;
	}

/* Specific divs */

	.page-wrapper { 
	/* background: #FFFFFF no-repeat top left; 
	opacity: 0.7;
	filter: alpha(opacity=70);  */
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

	.summary {
		padding-bottom: 10px;
	}

	.sidebar {
	margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
	}

	.wrapper {
	font: 0.7em verdana, sans-serif; 
	background: transparent url(ezra-jeffrey-comeau-WWntjs2-3hQ-unsplash.jpg) no-repeat 10% left;
	padding: 10px; 
	margin-top: 150px; 
	width: 130px; 
	}

/* css Zen Garden default style v1.02
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */
